.base-container {
  width: 104rem;
  margin: 0 auto;
  border: 0.1rem solid black;
  min-height: 100vh;
  box-sizing: border-box;
} 

.base-text {
    font-family: 'GothamPro';
    margin: 0;
    padding: 0;
    line-height: 1.2;
    letter-spacing: 0;
}