// Backgrounds
$bg-primary: #FFFFFF;
$bg-secondary: #F3F5F8;

// Text colors
$text-primary: #06162E;
$text-secondary: rgba(6, 22, 46, 0.7);
$text-placeholder: rgba(6, 22, 46, 0.35);
$text-profile: rgba(6, 22, 46, 0.8);
$text-accent-green: #86B836;

// Button colors
$button-primary: #F3D147; 