@font-face {
  font-family: 'GothamPro';
  src: url('./fonts/GothamProRegular/GothamProRegular.woff2') format('woff2'),
       url('./fonts/GothamProRegular/GothamProRegular.woff') format('woff'),
       url('./fonts/GothamProRegular/GothamProRegular.ttf') format('truetype'),
       url('./fonts/GothamProRegular/GothamProRegular.eot');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'GothamPro';
  src: 
       url('./fonts/GothamProMedium/GothamProMedium.woff') format('woff'),
       url('./fonts/GothamProMedium/GothamProMedium.ttf') format('ttf'),
       url('./fonts/GothamProMedium/GothamProMedium.eot') format('eot');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'GothamPro';
  src: url('./fonts/GothamProBold/GothamProBold.woff2') format('woff2'),
       url('./fonts/GothamProBold/GothamProBold.woff') format('woff'),
       url('./fonts/GothamProBold/GothamProBold.ttf') format('ttf'),
       url('./fonts/GothamProBold/GothamProBold.eot') format('eot');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
} 

@font-face {
  font-family: 'GothamPro';
  src: url('./fonts/GothamProLight/GothamProLight.woff2') format('woff2'),
       url('./fonts/GothamProLight/GothamProLight.woff') format('woff'),
       url('./fonts/GothamProLight/GothamProLight.ttf') format('ttf'),
       url('./fonts/GothamProLight/GothamProLight.eot') format('eot');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
} 