@import './fonts.scss';
@import './colors.scss';
@import './base.scss'; 
html {
  font-size: 10px; // Базовый размер, 1rem = 10px
  
  @media (min-width: 1400px) {
    font-size: calc(100vw / 1400 * 10);
  }
}

body {
  margin: 0;
  padding: 0;
  background-color: $bg-primary;
  color: $text-primary;
  font-family: 'GothamPro', sans-serif;
}
